/* Generic Classes Section */
:root {
    --translucent-blue: rgba(224,255,255,0.55);
    --translucent-blue-text: rgba(224,255,255,0.75);
    --translucent-blue-button: rgba(224,255,255,0.65);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../images/Binary-Background-large.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: 50%;
}
header, footer{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-image: url(../images/Binary-Background-large.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: 50%;
}

.title-box {
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: var(--translucent-blue-text);
    border-radius: 2vw;
    margin: 15px auto;
    padding: 30px auto;
    grid-column: 1/-1;
    grid-row: 1/2;
}
.title-box > * {
    font-size: 1.8vw;
}
#flex-container {
    width: 1150px;
    min-width: 80%;
    max-width: 100%;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.background-box {
    display: grid;
    background-color: var(--translucent-blue);
    border-radius: 1.5vw;
    padding: 10px;
}

/* Header Section */
header {
    top: 0;
}
nav {
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 2vh 0px;
}
#header-list ul li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
    background-color: var(--translucent-blue-text);
    padding: 10px;
    border-radius: 20px;
}
#header-list ul li a:hover {
    background-color: lightcyan;
}


/* Name Box Section */
#name-box {
    display: flex;
    justify-content: center;
    min-width: 80vw;
    width: 1150px;
    min-width: 80%;
    max-width: 100%;
    background-color: var(--translucent-blue-text);
    margin: 2vh auto;
    padding: 1vh 0px;
    border-radius: 20px;
}
#name-box h1 {
    display: inline;
    font-size: 2vw;
}

/* About Me Section */
#about-me .background-box {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 15vh);
}
#about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
}
#about-me .img-box {
    grid-column: 1/2;
    grid-row: 1/-1;
}
#about-me .img-box img{
    border-radius: 20px;
    max-height: 30vh;
}
.para-box {
    grid-column: 2/-1;
    background-color: rgba(224,255,255,0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.para-box p {
    font-size: 1.3vw;
    color: black;
    font-weight: bolder;
}

/* Work Section */
#work .background-box {
    grid-template-columns: 13vw 27vw repeat(2, 20vw);
    grid-template-rows: 325px 325px 370px;
}
#work .tech-box {
    display: flex;
    grid-column: 1/2;
    align-items: center;
    justify-content: flex-start;
}
#work .tech-box h3 {
    font-size: 1.7vw;
}
#work h4 {
    font-size: 1.5vw;
}
.tech-box, .primary-project, .secondary-project {
    border-bottom: 5px solid darkmagenta;
}
.primary-project {
    display: grid;
    grid-template-rows: 40px 275px;
}
.secondary-project {
    display: grid;
    grid-template-rows: 40px 215px 60px;
}
.primary-project .web-project {
    display: grid;
    grid-template-rows: 40px 275px 40px;
}
.secondary-project .web-project {
    display: grid;
    grid-template-rows: 40px 215px 40px 60px;
}
.primary-project .img-box, .secondary-project .img-box {
    display: flex;
    justify-content: center;
}
.project-box {
    display: flex;
    justify-content: center;
}
.project-box h4 {
    margin: auto;
}
.img-box a img {
    border-radius: 20px;
    height: 100%;
}
.primary-project .img-box {
    grid-row: span 2;
}
.secondary-project .img-box {
    grid-row: span 1;
}
.primary-project .img-box a img{
    width: 100%;
    height: 100%;
}
.secondary-project .img-box a img {
    width: 100%;
    height: 100%;
}
.web-link {
    display: flex;
    justify-content: center;
}
.web-link a {
    text-decoration: none;
    color: darkmagenta;
    font-size: 18px;
}

/* Footer Section */
footer {
    bottom: 0;
}
#footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 10px auto;
    background-color: var(--translucent-blue-text);
    border-radius: 20px;
}
#footer-title {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}
#footer-title h2 {
    display: inline;
    font-size: 1.7vw;
}
#footer-list {
    width: 75%;
}
#footer-list ul {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
}
#footer-list li {
    font-size: 1.5vw;
    font-weight: bold;
}
#footer-list li a {
    background-color: var(--translucent-blue-button);
    padding: 5px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}
#footer-list li a:hover {
    background-color: lightcyan;
}

@media screen and (max-width: 1280px) {

}